.category-crud-card {
  margin-bottom: 10px;
  height: 100px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-name {
  display: flex;
  align-items: center;
}

.category-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.category-button-container button:first-of-type {
  margin-right: 10px;
}

.category-crud-card-button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.015em;
  width: 110px;
  height: 40px;
}

@media (min-width: 576px) {
  .category-crud-card {
    flex-direction: row;
  }
}
